<!DOCTYPE html>

<head>

    <title>HOME</title>

    <style>

        body{
            background: black;
            color: aliceblue;
        }

    </style>

</head>

<body>
    <h1>Directorio</h1>
    {{ eleccion }}
    <p>
    {{ datos }}
    <button style="background-color: black;color: aliceblue;border-color: aliceblue;" onclick='location.href="http://127.0.0.1:8000/inicio/datos"'>Ir</button>
    <p>
    {{ skills }}
    <button style="background-color: black;color: aliceblue;border-color: aliceblue;" onclick='location.href="http://127.0.0.1:8000/inicio/skills"'>Ir</button>
    <p>
    {{ trabajos }}
    <button style="background-color: black;color: aliceblue;border-color: aliceblue;" onclick='location.href="http://127.0.0.1:8000/inicio/trabajos"'>Ir</button>
</body>

</html>