<!DOCTYPE html>

<html>

    <head>

        <title>Skills</title>

        <style>

            body{
                background: black;
                color: aliceblue;
            }

        </style>

    </head>

    <body>

        <h1>Skills</h1>
        <button style="background-color: black;color: aliceblue;border-radius: 5px;padding: 10px 20px;display: block;
        margin: auto;border-color: aliceblue;" onclick='location.href="http://127.0.0.1:8000/inicio"'>HOME</button>
        {{ skillsp }}
        <p>
            <ul>
                <li>{{ skill1 }}.</li>
                <li>{{ skill2 }}.</li>
                <li>{{ skill3 }}.</li>
                <li>{{ skill4 }}.</li>
                <li>{{ skill5 }}.</li>
                <li>{{ skill6 }}.</li>
                <li>{{ skill7 }}.</li>
              </ul>
        
    </body>

</html>